DB_URL=jdbc:mysql://localhost:3306/mes?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=root
DB_PASSWORD=your_password

DB_POOL_MAX_SIZE=10
DB_POOL_MIN_IDLE=2

SQL_INIT_MODE=always
APP_TIMEZONE=Asia/Seoul

MES_SIMULATION_ENABLED=true
MES_SIMULATION_DELAY_MS=5000
MES_SIMULATION_INITIAL_DELAY_MS=5000
MES_SIMULATION_BOOTSTRAP_TICKS=12
MES_SIMULATION_DASHBOARD_TREND_HOURS=8

PORT=8080
